html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border_box;
}

.header {
    background: url(../images/bg.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.navbar {
    text-align: center;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-family: 'Courier New';
    margin-right: 60px;
    border: 2px solid transparent;
    padding: 10px;
    transition: 0.8s;
}

.navbar a:hover {
    background: #000;
    border: 1px solid #fff;
}

.head-content {
    text-align: center;
}

.head-content img {
    border-radius: 0%;
    border: 1px solid #fff;
    margin-top: 80px;
}

.head-content img:hover {
    border: 2px solid #db2e2e;
}

.name {
    cursor: pointer;
    font-size: 50px;
    color: #fff;
    font-family: 'Courier New';
}

.desc {
    font-size: 40px;
    color: #fff;
    font-family: 'Courier New';
}


/* .about_me h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New';
    text-decoration: underline;
    color: #fff;
}

.about_me p {
    font-size: 20px;
    font-family: 'Courier New';
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
    color: #fff;
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}




.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}




.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}




.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}




.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.contact_us {
    height: 56vh;
    text-align: center;
    margin-top: 80px;
}

.contact_us span {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    font-family: 'Courier New';
    margin-bottom: 200px;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

.education h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Courier New';
    text-decoration: underline;
    color: #fff;
}

.education p {
    font-size: 20px;
    font-family: 'Courier New';
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    padding: 15px;
    color: #fff;
} */

.about-section {
    background-color: #000;
    padding: 10px;
    margin-top: 5px;
}

.about-section h3 {
    font-size: 40px;
    font-family: 'Courier New';
    text-align: center;
    color: #fff;
}

.about-section p {
    font-size: 25px;
    font-family: 'Courier New';
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 15px;
    color: #fff;
}

.skills-section {
    width: 100%;
    height: 400px;
    background: black;
    text-align: center;
    margin-top: 5px;
}

.skills-section h2 {
    font-size: 40px;
    font-family: 'Courier New';
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
}

.skills-section img {
    height: 200px;
    width: 200px;
    border: 2px solid transparent;
    margin-top: 20px;
}

.skills-section img:hover {
    border: 3px solid #fff;
    transition: 0.8s;
}

.contact-section {
    height: 56vh;
    text-align: center;
    background: black;
    margin-top: 5px;
}

.contact-section span {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
    font-family: 'Courier New';
    margin-top: 20px;
}

input {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 0;
    background: #232323;
    color: #fff;
}

textarea {
    border: 0;
    border-radius: 10p;
    height: 100px;
    width: 500px;
    background: #232323;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.inp-name,
.inp-mail {
    height: 50px;
    width: 500px;
    color: white;
}

.inp-msg {
    height: 100px;
    width: 500px;
}

input[type=text] {
    text-align: center;
    font-size: 20px;
}

.inp-btn {
    padding: 10px;
    background: #4b8cfb;
    font-size: 20px;
}

.inp-btn:hover {
    background: #000;
    transition: 0.3s;
}

@media only screen and (max-width: 768px) {}